@import "tailwindcss";
@import "@fontsource/inter";

@theme {
  /* COLOR */
  --color-background: #021400;
  --color-text: #f2f2f2;
  --color-accent: #c1272d;

  /* FONT SIZE */

  --text-big: 120px;
  --text-extra: 40px;
  --text-uses: 60px;
  --text-small: 25px;

  /* FONT */
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  /* ANIMATION */
  --animate-pending: pulse 1s ease-in-out infinite;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
